{% extends 'index.html' %}
{% block content %}
<h1 class = "mt-4">Админ панель</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Добавить кандидата
    </button>

    {% if success %}
    <p style="color:black">Кандидат успешно добавлен</p>
    {% endif %}

    {% if update %}
        {% if success_update %}
            <p style="color:black" class="mt-4">Данные успешно обновлены</p>
        {% endif %}

        <p class="mt-4"><a href="{% url 'edit_page' %}">Вернуться назад</a></p>
        <form id="update_form" method="post" >
              {% csrf_token %}
              {{ form }}
          </form>

         <button form = "update_form" type="submit" class="btn btn-primary mt-4">Обновить</button>
    {% else %}

    <table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th scope="col">Голоса</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Редактирование</th>
      <th scope="col">Удаление</th>

    </tr>
  </thead>
  <tbody>
    {% for candidate in candidates_list %}

    <tr>
      <th>{{ candidate.votes }}</th>
      <td>{{ candidate.name}}</td>
      <td>{{ candidate.surname}}</td>
      <td><a href="{% url 'update_page' candidate.id%}">редактировать</a></td>
      <td>
          <form id ="delete_form" action="{% url 'delete_page' candidate.id%}" method="post">{% csrf_token %}</form>
          <a href="javascript:void()" onclick="delete_question()">удалить</a>
          <script>
            function delete_question() {
                if (confirm("Вы уверены?")) {
                    document.getElementById('delete_form').submit()
                }
            }
          </script>
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
    {% endif %}
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Кандидат</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="add_form" method="post" >
              {% csrf_token %}
              {{ form }}
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button form = "add_form" type="submit" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}